<table>
  <tr>
    <th>Date</th>
    <th>Opening Balance</th>
    <th>Activity</th>
  </tr>

  <% locals[:activity].each do |activity| %>
    <tr>
      <td><%= activity[:date] %><td>
      <td><%= activity[:balance] %><td>
      <td><%= activity[:activity] %><td>
    </tr>
  <% end %>

</table>
