<h1>Editing recurring_transaction</h1>

<%= link_to 'Show', recurring_transaction_path(@recurring_transaction) %> |
<%= link_to 'Back', recurring_transactions_path %>

<%= render 'form', :locals => {:form_readonly => false} %>
