<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_recurring_transaction_path(@recurring_transaction) %> |
<%= link_to 'Back', recurring_transactions_path %>

<%= render 'form', :locals => {:form_readonly => true } %>


