<h1>Bank Account</h1>
<p id="notice"><%= notice %></p>
<%= render 'form', :locals => {:form_readonly => true } %>


<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
